language: csharp
dist: trusty
sudo: required
mono: none
dotnet: 2.0.0
skip_cleanup: true
before_install:
  - chmod +x utils/build.sh
  - chmod +x utils/deploy.sh
  - chmod +x utils/test.sh
script:
  - utils/build.sh --quiet verify,
  - utils/test.sh --quiet verify,
branches:
  only:
  - master
  - develop
deploy:
  skip_cleanup: true
  provider: script
  script:
    - utils/deploy.sh --quiet verify
  on:
    branch: develop