language: csharp
dist: trusty
sudo: required
mono: none
dotnet: 2.1.300
skip_cleanup: true
before_install:
  - export PATH="$PATH:/home/travis/.dotnet/tools"
  - chmod +x utils/build.sh
  - chmod +x utils/deploy.sh
script:
  - utils/build.sh --quiet verify
branches:
  only:
  - master
  - develop
deploy:
  skip_cleanup: true
  provider: script
  script:
    - utils/deploy.sh --quiet verify
  on:
    branch: develop
