language: csharp
dist: trusty
sudo: required
mono: none
dotnet: 2.1.300
skip_cleanup: true
env:
  - PATH="$PATH:~/.dotnet/tools"
before_install:
  - chmod +x utils/build.sh
  - chmod +x utils/deploy.sh
script:
  - utils/build.sh --quiet verify
branches:
  only:
  - master
  - develop
deploy:
  skip_cleanup: true
  provider: script
  script:
    - utils/deploy.sh --quiet verify
  on:
    branch: develop
